.ant-table-cell {
  padding: 10px 20px !important;
  a {
    transition: all 0.5s;
    &:hover {
      text-decoration: none;
      color: blue !important;
    }
  }
}
.ant-table-pagination.ant-pagination {
  margin-top: 20px;
  margin-bottom: 0;
}
